[core]
    editor = vim
    excludesfile = ~/.gitignore
    pager = delta  # https://github.com/dandavison/delta

# Please, specify this variables in ~/.gitconfig-local
# it is included in the end of this file
# Note: include section work for git > 1.8
# [user]
#     name = Vasily Pupkin
#     email = pupkin@vasya.iam
#
# [credential]
#     helper = /usr/share/git/credential/gnome-keyring/git-credential-gnome-keyring

[alias]
    st = status
    s = status -s
    ci = commit
    cm = commit -m
    ca = commit --amend
    save = commit -am "SAVEPOINT" -n
    unstage = restore --staged .
    undo = reset HEAD~
    br = branch
    sw = switch
    swc = switch -c
    lg = log --all --graph --pretty=format:'%Cred%h%Creset -%C(auto)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
    last = log -1 HEAD
    publish = "!git push -u origin `git rev-parse --abbrev-ref HEAD`"

[color]
    ui = auto
    branch = auto
    diff = auto
    status = auto

[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green

[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold

[color "status"]
    added = yellow
    changed = green
    untracked = cyan

[delta]
    navigate = true  # use n and N to move between diff sections
    side-by-side = true

[diff]
    colorMoved = default

[push]
    default = tracking

[diff]
    compactionHeuristic = true
    algorithm = histogram

[include]
    path = ~/.gitconfig-local

[merge]
    conflictstyle = diff3

[init]
    defaultBranch = main
